.basket{
    box-sizing: border-box;
    &__all{
        width: 610px;
        padding-right: 70px;
        padding-top: 20px;
        padding-bottom: 160px;
        background: #fff;
        //padding-right: 40px;
        padding-left: 40px;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 100%;
            padding-right: 0px;
            padding-left: 0px;
        }
        &--order{
            padding-left: 0;
            padding-right: 0;
        }
        
    }
    &__empty{
        width: 610px;
        padding-right: 70px;
        padding-top: 20px;
        padding-bottom: 160px;
        background: #fff;
        padding-left: 40px;
        &-description{
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 24px;
            color: #3D3D3D;
            margin: 0;
            padding: 0;
            margin-top: 100px;
            margin-bottom: 40px;
            text-align: center;
        }
        &-button{
            max-width: 285px;
            margin: 0 auto;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            box-sizing: border-box;
            &-description{
                margin-top: 50px;
            }
            &-button{
                width: 50%;
                margin: 0 auto;
        }
        }
    }
    &__disclamer{
        background: #AFD83B;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        &-title{
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 21px;
            text-align: center;
            color: #1B1B1B;
        }
        &--description{
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            color: #575757;
        }
    }
    &__info{
        &--mobile{
            justify-content: center;
            @media screen and (min-width: 320px) and (max-width: 767px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-left: 5px;
            padding-right: 5px;
            border-bottom: 1px solid #E3E3E3;
            }
        }
    }
    &__title{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #1B1B1B;
        text-align: center;
        padding-bottom: 14px;
        border-bottom: 1px solid #E3E3E3;
        margin: 0;
        margin-top: 0px;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            border-bottom: none;
        }
    }
    &__card{
        display: flex;
        border-bottom: 1px solid #E3E3E3;
        padding-top: 17px;
        padding-bottom: 17px;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    &__img{
        padding-right: 20px;
        width: 130px;
        height: 190px;
        img{
            width: auto;
            height: 100%;
        }

        @media screen and (min-width: 320px) and (max-width: 767px) {
            img{
            width: 100px;
            height: auto;
            }
        }
    }
    &__content{
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-name{
            margin: 0;
            font-family: "Century Gothic";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #1B1B1B;
            a{
                display: flex;
                align-items: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #1B1B1B;
                text-decoration: none;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                width: 80%;
                font-size: 14px;
                line-height: 21px;
            }
        }
        &-art{
            margin: 0;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            color: #949494;
            padding-top: 10px;
        }

        &-size{
            margin: 0;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            color: #949494;
            padding-top: 10px;
            span{
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #1B1B1B;
                padding-left: 5px;
            }
        }
        &-sale{
            display: none;
            @media screen and (min-width: 320px) and (max-width: 767px) {
                display: block;
                margin: 0;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                color: #949494;
                padding-top: 10px;
                span{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 18px;
                    color: #313131;
                    padding-left: 5px;
                    &.basket__content-sale--old{
                        color: #949494;
                        text-decoration: line-through;
                    }
                }
            }
        }
        &-color{
            margin: 0;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            color: #949494;
            padding-top: 10px;
            span{
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #1B1B1B;
                padding-left: 5px;
            }
        }
        &-num{
            margin: 0;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            color: #949494;
            padding-top: 10px;
            button{
                border: none;
                background-color: transparent;
                &.minus{
                    position: relative;
                    bottom: 4px;
                }
                &.plus{
                    position: relative;
                    top: 1px;
                }
            }
            span{
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #1B1B1B;
                padding-top: 5px;
            }
        }
    }
    &__add{
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: end;
    }
    &__price{
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        text-align: right;
        color: #313131;
        padding-top: 5px;
        &--old{
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            text-align: right;
            color: #949494;
            text-decoration: line-through;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
        }
    }
    &__delete{
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #313131;
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        text-align: end;
        cursor: pointer;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            position: relative;
            bottom: 3px;
        }
    }

    &__result{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 14px;
        border-bottom: 1px solid #E3E3E3;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            justify-content: flex-end;
            padding-right: 5px;
        }
        &--order{
            justify-content: flex-end;
        }
        &--personal{
            justify-content: flex-end;
        }
    }
    &__promo{
        form{
            width: 100%;
            border-bottom: 1px solid  #E3E3E3;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom: 12px;
            input[type="text"]{
                font-family: "Century Gothic";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 21px;
                color: #949494;
                border: none;
                width: 80%;
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    font-size: 14px;
                   }
            }
            input[type="submit"]{
                width: 65px;
                height: 30px;
                background: #E3E3E3;
                border: none;
                cursor: pointer;
                font-family: "Century Gothic";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #575757;
                text-transform: capitalize;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                width: auto;
                padding-right: 5px;
                padding-left: 5px;
            }

        }
         &-congr{
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 10000;
            width: 610px;
            background: #fff;
            &-top
            {
                padding-top: 30px;
                padding-bottom: 12px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #E3E3E3;;
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 21px;
                    color: #1B1B1B;
                    margin: 0;
                    padding: 0;
                }
                button{
                    height: 70%;
                    width: 65px;    
                    background:#E3E3E3;
                    border: none;
                }
            }
            &-bottom{
                span{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                    color: #313131;
                    margin: 0;
                    padding: 0;
                }
            }
             @media screen and (min-width: 768px) and (max-width: 1279px) {
                width: 610px;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                width: 90%;
            }
        }
    }
    &__quantity{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: baseline;
        color: #1B1B1B;
        position: relative;
        left: 40px;
        &::before{
            content: "";
            position: absolute;
            background-image: url("../img/basket_line.svg");
            width: 30px;
            height: 1px;
            top: 12px;
            left: -40px;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
        }
        &--order{
            display: none;
        }
        &--mobile{
            display: none;
            @media screen and (min-width: 320px) and (max-width: 767px) {
                display: block;
                left: 0;
            }
        }
        &--personal{
            border-bottom: 1px solid #E3E3E3;
            left: 0;
            padding-left: 40px;
            padding-bottom: 16px;
            &::before{
                left: 0px;
            }
        }
    }
    &__total, &__discount, &__sum{
        display: flex;
        flex-direction: revert;
        justify-content: space-between;
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #313131;
        padding-bottom: 10px;
        span{    
            padding-left: 70px;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: #313131;
        }
    }

    &__group{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 45px;
    }

    &__arrange{
        width: 300px;
        height: 50px;
        background: #1B1B1B;
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
        color: #FFFFFF;
        border: 1px solid transparent;
        margin-bottom: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    &__go{
        width: 300px;
        height: 50px;
        background: #FFFFFF;
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
        color: #1B1B1B;
        border: 1px solid #3D3D3D;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    &__order{
        &-info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 610px;
            align-items: center;
            margin-left: 40px;
            border-bottom: 1px solid #E3E3E3;
            padding-bottom: 15px;
            @media screen and (min-width: 768px) and (max-width: 1279px) {
                width: 100%;
                margin-left: 0px;
                padding-top: 35px;
             }
             @media screen and (min-width: 320px) and (max-width: 767px) {
                 width: 100%;
                 margin-left: 0px;
                 padding-top: 35px;
             }
        }
        &-title{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            display: flex;
            align-items: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #1B1B1B;
            margin: 0;
            padding: 0;
        }
        &-quantity{
            position: relative;
            //left: 40px;
            &::before{
                content: "";
                position: absolute;
                background-image: url("../img/basket_line.svg");
                width: 30px;
                height: 1px;
                top: 12px;
                left: -40px;
            }
        }
    }


}


/* Magnific pop-up */

#basket-modal.white-popup-block {
    background: #FFF;
    padding: 0;
    //padding-right: 70px;
    text-align: left;
    //width: 610px;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 45px;
    height: auto;
    bottom: 0;
    overflow: scroll;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-top: 40—Åpx;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 100%;
        padding-right: 0;
    }
}

#basket-modal.mfp-content {
    position: static;
}

#basket-modal a.popup-modal-dismiss
{
    position: absolute;
    top: 45px;
    right: 50px;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        top: 20px;
        right: 20px;
    }

}