.discount{
    height: 840px;
    background-image: url("../img/top.png");
    background-image: -webkit-image-set(url("../img/top.png")1x, url("../img/top@2x.png")2x);
    background-image: url("../img/discount@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 320px;
    padding-bottom: 340px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 50px;
    &__title
    {
        font-family: 'Century Gothic';
        font-weight: 400;
        font-size: 34px;
        line-height: 46px;
        color: #fff;
        margin-top: 0;
        text-transform: uppercase;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            font-size: 24px;
            line-height: 32px;      
        }
    }
    &__link{
        margin: 0;
        position: relative;
        a {
            font-family: 'Century Gothic';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: #fff; 
            text-decoration: none;
            margin-left: 60px;
        }
        &::before{
            content: "";
            position: absolute;
            width: 65px;
            height: 1px;
            color: #fff;
            background-color: #fff;
            top: 50%;
            left: -20px;
        }
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        height: 195px;
        padding-top: 56px;
        padding-bottom: 56px;
    }
}