.custom-form{
    &--header{
        .custom-form-group {
            width: 97%;
        }
        .error{
            top: 10px;
              @media screen and (min-width: 320px) and (max-width: 767px) {
                   top: 0px;
            }
        }
    }
     &--order{

    }
     &--password-form{
        .custom-form-group {
            width: 100%;
        }
        .error{
            top: 10px;
        }
    }
}

.custom-form-group {
    width: 49%;
	position: relative;
    padding-bottom: 12px;
    input{
        width: 97%;
        height: auto;
        padding-top: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color:  #1B1B1B;
        border: none;
        border-bottom: 1px solid #E3E3E3;
        //margin-bottom: 12px;
    }
    &--contacts{
        width: 100%;
          @media screen and (min-width: 768px) and (max-width: 1279px) {
                width: 100%;
        }
    }
    &--footer{
        width: 100%;
          @media screen and (min-width: 768px) and (max-width: 1279px) {
                width:100%;
        }
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 100%;
        
    }
}

.custom-form-control {
	display: block;
	position: relative;
    z-index: 1;
	width: 100%;
	height: 31px;
    font-size: 16px;
	line-height: 20px;
	background: 0 0;
	padding: 0 0 10px 0;
	margin-top: 17px;
    background-clip: padding-box;
	border: none;
	color: #342021;
    border-bottom: 1px solid #E5E5E5;
    transition: border-color .15s ease-in-out;
}

.custom-form-control.error{
    border-bottom: 1px solid #C57272;
}

.custom-input-placeholder {
	position: absolute;
	font-size: 16px;
	line-height: 20px;
	color:  #949494;
    left: -1px;
    top: 20px;
    transition: all ease .2s;
}

.input_filled + .custom-input-placeholder{
        top: -5px;
        font-size: 12px;
        line-height: 15px;
        color: #949494;
}

.custom-form-control:not([disabled]):focus~.custom-input-placeholder,
.custom-form-control:not([data-val=""]):not(:focus)+.custom-input-placeholder {
    top: -5px;
	font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #949494;
}

.error{
    color: #C57272;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    display: flex;
}