<footer class="footer">

    <div class="footer-desktop">

        <div class="footer__all">

            <div class="footer__top container">

                <div class="footer__mobile-block">

                    <div class="accordion-item">
                        <button class="footer__item--title">Покупателям</button>
                        <div class="footer-accordion-content">

                            <ul class="footer__list">
                                <li class="footer__item"><a href="">Доставка и оплата</a></li>
                                <li class="footer__item"><a href="">Самовывоз</a></li>
                                <li class="footer__item"><a href="">Возврат</a></li>
                            </ul>
                            
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button class="footer__item--title">О компании</button>
                        <div class="footer-accordion-content">
                            <ul class="footer__list">
                                <li class="footer__item"><a href="">О бренде</a></li>
                                <li class="footer__item"><a href="">Контакты</a></li>
                                <li class="footer__item"><a href="">Отзывы</a></li>
                                <li class="footer__item"><a href="">Пресса о нас</a></li>
                                <li class="footer__item"><a href="">Вакансии</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="accordion-item accordion-item--footer">
                        <button class="footer__item--title">ОПТ</button>
                        <div class="footer-accordion-content">
                            <ul class="footer__list">
                                <li class="footer__item"><a href="tel:88005004884">8 800 500-48-84</a></li>
                                <li class="footer__item"><a href="mailto:opt@freshdress.ru">opt@freshdress.ru</a></li>
                                <li class="footer__item"><a href="">Публичная оферта</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                    <ul class="footer__list">
                        <li class="footer__item footer__item--title"><a href="tel: +78005004884">8 800 500-48-84</a></li>
                        <li class="footer__item footer__item--what"><a href="">Написать в WhatsApp</a></li>
                        <li class="footer__item footer__item--insta"><a href="">Мы в Instagram</a></li>
                        <li class="footer__item footer__item--tiktok"><a href="">TikTok</a></li>
                    </ul>

                    <div class="footer__info footer__info--desktop">
                        <h3 class="footer__info-title">Будьте в курсе наших акций и поступлений</h3>
                        <form action="" class="footer__form custom-form">
                            <div class="custom-form-group custom-form-group--footer">
                                <input type="email" name="email" class="custom-form-control error" data-val="">
                                <span class="custom-input-placeholder">Укажите ваш email</span>
                                <span class="error_name error">Не указан Email</span>
                            </div>
                            <input type="submit" value="Подписаться">
                        </form>
                        <p class="footer__desc">Нажимая кнопку Подписаться, я даю согласие  на обработку и передачу моих <a href="">персональных данных</a></p>
                    </div>

            </div>
    
            <div class="footer__bottom">

                <div class="footer__bottom-all container">

                    <p class="footer__bottom-text">© 2014–2020 Fresh Dress</p> 
                    <p class="footer__bottom-text"><a href="">Пользовательское соглашение</a></p>
                    <p class="footer__bottom-text">Сделано <img src="/img/logo_stik.svg" alt="Stik"></p>

                </div>
                
            </div>

        </div>

</div>

</footer>